* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-size: 16px;
}

button {
  border: none;
  background: #C3002F;
  color: #ffffff;
}

.wrapper {
  width: 750px;
  margin: 0 auto;
}

.banner {
  overflow: hidden;
  position: relative;
  width: 750px;
  height: 250px;
  background: #fff;
  border: solid 1px #d6d6d6;
}
.banner-static {
  z-index: 100;
  float: left;
  width: 250px;
  height: 250px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-static-logo {
  width: 100px;
  height: auto;
  object-fit: contain;
}
.banner-section {
  z-index: 50;
  float: right;
  width: 500px;
  height: inherit;
}
.banner-section img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  display: block;
  position: absolute;
  transform-origin: 0 100%;
}
.banner-controller {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 50px;
  background: #ffffff;
}
.banner-controller__next, .banner-controller__prev {
  z-index: 100;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-controller__next {
  float: right;
}
.banner-controller__prev {
  float: left;
  position: relative;
}
.banner-controller__prev > img {
  transform: rotate(180deg);
}
.banner-controller__prev::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: inherit;
  background: #fff;
}