html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Slider training
    body
        .wrapper
            .slider
                a(href="#"): .slider-static
                    img(src="src/img/logo.png", alt="logo").slider-static-logo
                .slider-container
                    .slider-track
                        img.slider-item(src="src/img/slider/1.png", alt="Nissan GT-R Black photo")
                        img.slider-item(src="src/img/slider/2.png", alt="Nissan GT-R Black photo")
                        img.slider-item(src="src/img/slider/3.png", alt="Nissan GT-R Black photo")
                .slider-controller
                    button.slider-controller__next: img(src="src/img/ico/arrow.svg", alt="<")
                    button.slider-controller__prev: img(src="src/img/ico/arrow.svg", alt=">")

        script(src="src/script/script.js") 